.f1 {
  color: red;
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  font-family: "Times New Roman";
  margin-top: 18px;
  margin-bottom: 12px;
}
.f2 {
  color: black;
  font-style: normal;
  font-style: normal;
  font-size: 30px;
  font-family: "Arial";
  margin-top: 10px;
  margin-bottom: 10px;
}
